
.ticker-wrap {
  overflow: hidden;
  width: 100%;
}

.ticker {
  white-space: nowrap;
  display: inline-block;
  animation: tickerMove 18s linear infinite;
}

@keyframes tickerMove {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
